.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.search button {
    margin-left: 15px;
}

.search ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    list-style-type: none;
}